In [1]:
import pandas as pd
path = "output_data/cities.csv"

In [4]:
cities = pd.read_csv("../WeatherPy/output_data/cities.csv")
cities

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Temperature (F)
0,Bluff,-46.6000,168.3333,273.60,87,9,4.06,NZ,1624125440,33.08
1,Kapaa,22.0752,-159.3190,300.14,80,24,0.89,US,1624125440,80.85
2,Havøysund,70.9963,24.6622,280.64,89,98,1.94,NO,1624125441,45.75
3,Tuktoyaktuk,69.4541,-133.0374,289.15,51,40,5.14,CA,1624125441,61.07
4,Dharampur,20.5333,73.1833,299.61,81,95,4.98,IN,1624125441,79.90
...,...,...,...,...,...,...,...,...,...,...
524,Fort Nelson,58.8053,-122.7002,294.48,37,56,1.68,CA,1624125603,70.66
525,Kutum,14.2000,24.6667,303.32,18,27,4.05,SD,1624125637,86.58
526,Nabire,-3.3667,135.4833,296.87,93,99,1.50,ID,1624125637,74.97
527,Breţcu,46.0500,26.3000,290.02,99,96,1.88,RO,1624125638,62.64
528,Caála,-12.8525,15.5606,288.45,34,25,1.33,AO,1624125638,59.81

In [8]:
cities = cities_df.to_html("cities.html")